html,
body {
  background-color: white;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
}
header {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 700px;
  text-align: center;
}
h1 {
  font-size: 47px;
  font-weight: 500;
}
.byline {
  font-size: 14px;
  font-style: normal;
}
.byline address {
  font-style: normal;
  font-weight: 600;
  display: inline;
}
.byline a {
  text-decoration: underline;
  text-decoration-color: #ccc;
  color: #333;
}
.byline a:hover {
  text-decoration: none;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5em;
  margin-bottom:0.5em;
}
h3 {
  font-size: 16px;
  line-height: 1;
  margin-top:0;
  font-weight: 100;
  color: #767676;
}
em {
  font-weight: 600;
}
main {
  margin: 36px auto;
  width: 90vw;
  max-width: 1254px;
}
table {
  font-variant-numeric: lining-nums tabular-nums;
  margin: 36px auto;
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
caption { 
  margin-top: 10px;
  caption-side: bottom;
  font-size: 0.8125em;
  line-height: 1.3;
  font-weight: 100;
  color: #767676;
}
table tbody tr:nth-child(2n+1) {
  background-color: #eee;
}
th {
  font-size: 1.125em;
}
td, th {
  line-height: 1.375;
  padding: 0.75em 0.5625em;
}
th:nth-child(1), td:nth-child(1) { 
  text-align: left; 
}
th:nth-child(2), td:nth-child(2) { 
  text-align: right; 
}
th:nth-child(3), td:nth-child(3) { 
  text-align: right; 
}
th:nth-child(4), td:nth-child(4) { 
  text-align: right; 
}
th:nth-child(5), td:nth-child(5) { 
  text-align: center;
}
td:nth-child(5) {
  font-family: Consolas, monaco, monospace;
  font-weight: 900;
  font-size: 1.5em;
}
@media screen and (max-width: 400px) {
  table {
    font-size: 12px;
  }
}
section.text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}
section.charts {
  text-align: center;
}
a {
  color: #326891;
}
a:hover {
  color: #6288A5;
}
